nodered_data/projects/biosafe/flows.json
[
    {
        "id": "da0c76b0dfff2c24",
        "type": "tab",
        "label": "create profile",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0d6f46bc10e7c39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Biosafe",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0f8538c6cface9c4",
        "type": "mqtt-broker",
        "name": "biosafe-esp",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c5836ff6dc1663f",
        "type": "ui_tab",
        "name": "Adicionar",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9813e1e93f4d47a8",
        "type": "ui_group",
        "name": "main",
        "tab": "2c5836ff6dc1663f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b34fc89e777ec176",
        "type": "ui_tab",
        "name": "testes",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7993f396df3e3a2a",
        "type": "ui_group",
        "name": "main",
        "tab": "b34fc89e777ec176",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "413e03bebbb1dca2",
        "type": "ui_spacer",
        "z": "da0c76b0dfff2c24",
        "name": "spacer",
        "group": "9813e1e93f4d47a8",
        "order": 4,
        "width": "1",
        "height": "1"
    },
    {
        "id": "1b4135c51fa4af2b",
        "type": "ui_spacer",
        "z": "da0c76b0dfff2c24",
        "name": "spacer",
        "group": "9813e1e93f4d47a8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "9916472da98c55fe",
        "type": "ui_text_input",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "label": "Nome",
        "tooltip": "",
        "group": "9813e1e93f4d47a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "name",
        "sendOnBlur": false,
        "className": "",
        "topicType": "flow",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a41fed49bb6c29e7"
            ]
        ]
    },
    {
        "id": "cce82af98f490355",
        "type": "ui_text_input",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "label": "Cargo",
        "tooltip": "",
        "group": "9813e1e93f4d47a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "position",
        "sendOnBlur": true,
        "className": "",
        "topicType": "flow",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "a41fed49bb6c29e7"
            ]
        ]
    },
    {
        "id": "1d737056e0800fc7",
        "type": "ui_text_input",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "9813e1e93f4d47a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "email",
        "sendOnBlur": true,
        "className": "",
        "topicType": "flow",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a41fed49bb6c29e7"
            ]
        ]
    },
    {
        "id": "a41fed49bb6c29e7",
        "type": "ui_button",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "group": "9813e1e93f4d47a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "btn",
        "payloadType": "flow",
        "topic": "",
        "topicType": "str",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "53b3484a7ae06ee9"
            ]
        ]
    },
    {
        "id": "53b3484a7ae06ee9",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "function 1",
        "func": "let nome = flow.get(\"name\") || \"\";\nlet cargo = flow.get(\"position\") || \"\";\nlet email = flow.get(\"email\") || \"\";\n\nlet dados = {\n    name: nome,\n    position: cargo,\n    email: email\n};\n\nmsg.payload = dados;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "6cd75978b17ae8ec"
            ]
        ]
    },
    {
        "id": "6cd75978b17ae8ec",
        "type": "mqtt out",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "fingerprint/register/init",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f8538c6cface9c4",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "7bb23d62fabc5578",
        "type": "comment",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "info": "{\n  \"msg\": \"init\"\n}",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "e5b1aca28620988b",
        "type": "mqtt in",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "figerprint/register/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f8538c6cface9c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7d4612a412bf4e63",
        "type": "comment",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "info": "{\n  \"status\": \"success\",\n  \"id\": 10\n}",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "8d342762aaf2a34b",
        "type": "file",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa624af76163c52",
        "type": "mqtt in",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "figerprint/auth/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f8538c6cface9c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "4b601129311dc048"
            ]
        ]
    },
    {
        "id": "4b601129311dc048",
        "type": "file in",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 410,
        "y": 520,
        "wires": [
            []
        ]
    }
]