nodered_data/projects/biosafe/flows.json
[
    {
        "id": "da0c76b0dfff2c24",
        "type": "tab",
        "label": "create profile",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c0d6f46bc10e7c39",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Biosafe",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0f8538c6cface9c4",
        "type": "mqtt-broker",
        "name": "biosafe-esp",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c5836ff6dc1663f",
        "type": "ui_tab",
        "name": "Adicionar",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9813e1e93f4d47a8",
        "type": "ui_group",
        "name": "main",
        "tab": "2c5836ff6dc1663f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b34fc89e777ec176",
        "type": "ui_tab",
        "name": "testes",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7993f396df3e3a2a",
        "type": "ui_group",
        "name": "main",
        "tab": "b34fc89e777ec176",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "413e03bebbb1dca2",
        "type": "ui_spacer",
        "z": "da0c76b0dfff2c24",
        "name": "spacer",
        "group": "9813e1e93f4d47a8",
        "order": 4,
        "width": "1",
        "height": "1"
    },
    {
        "id": "1b4135c51fa4af2b",
        "type": "ui_spacer",
        "z": "da0c76b0dfff2c24",
        "name": "spacer",
        "group": "9813e1e93f4d47a8",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "3ecbf5061b5e5171",
        "type": "MySQLdatabase",
        "name": "digitalStorage",
        "host": "192.168.1.2",
        "port": "3306",
        "db": "digitalStorage",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e5b1aca28620988b",
        "type": "mqtt in",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "register/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f8538c6cface9c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "5e106d903ab2c52f"
            ]
        ]
    },
    {
        "id": "dfa624af76163c52",
        "type": "mqtt in",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "auth/init",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f8538c6cface9c4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "0a75f0d8fc6cb00c"
            ]
        ]
    },
    {
        "id": "05ac62c170a6361d",
        "type": "mysql",
        "z": "da0c76b0dfff2c24",
        "mydb": "3ecbf5061b5e5171",
        "name": "imput",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "60d13150e4845ca3",
        "type": "mysql",
        "z": "da0c76b0dfff2c24",
        "mydb": "3ecbf5061b5e5171",
        "name": "",
        "x": 880,
        "y": 640,
        "wires": [
            [
                "f63a6fa0f0d03e4a",
                "8890e4522e6f7670"
            ]
        ]
    },
    {
        "id": "5e106d903ab2c52f",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "checa",
        "func": "var id = msg.payload.id;\nvar status = msg.payload.status;\nvar name = msg.payload\nnode.warn(name);\n\nif (status === \"success\") {\n    node.warn(\"Status: verificando se já existe no DB...\");\n    msg.topic = \"SELECT id FROM digital_id WHERE id = '\" + id + \"';\";\n    msg.id = id;\n    return msg;\n}\n\nnode.warn(\"Status: não é sucesso\");\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "94d3110fe926ce2d",
                "1e33e979c73cd706"
            ]
        ]
    },
    {
        "id": "94d3110fe926ce2d",
        "type": "debug",
        "z": "da0c76b0dfff2c24",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "0a75f0d8fc6cb00c",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "function 3",
        "func": "var id = msg.payload.id;\nvar status = msg.payload.status;\n\nif(status != \"success\") {\n    node.warn(\"status != sucesso\");\n    return null\n}\n\nif(!id) {\n    node.warn(\"id indefinido\");\n    return null;\n}\n\nmsg.topic = \"SELECT id, name FROM digital_id WHERE id = '\" + id + \"';\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 640,
        "wires": [
            [
                "60d13150e4845ca3",
                "8d56ef549cc9d544"
            ]
        ]
    },
    {
        "id": "94a73c9054c42f44",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "adiciona",
        "func": "var id = msg.id;\n\nif (msg.payload.length === 0) {\n    node.warn(\"Status: ID não encontrado, salvando no DB...\");\n\n    msg.topic = \"INSERT INTO digital_id (id) VALUES ('\" + id + \"');\";\n    return msg;\n} \nelse {\n    node.warn(\"Status: ID já existente\");\n    return null;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "05ac62c170a6361d"
            ]
        ]
    },
    {
        "id": "1e33e979c73cd706",
        "type": "mysql",
        "z": "da0c76b0dfff2c24",
        "mydb": "3ecbf5061b5e5171",
        "name": "select",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "94a73c9054c42f44"
            ]
        ]
    },
    {
        "id": "a45e20dc4bc2d252",
        "type": "ui_text_input",
        "z": "da0c76b0dfff2c24",
        "name": "name",
        "label": "name",
        "tooltip": "",
        "group": "9813e1e93f4d47a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "69c8c56afa1d167d"
            ]
        ]
    },
    {
        "id": "cd1d8fc96ba4dcc7",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "function 1",
        "func": "flow.set(\"id\", msg.payload);\nreturn null; \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "59109057e894d0ca",
        "type": "debug",
        "z": "da0c76b0dfff2c24",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b1532373d67006f",
        "type": "ui_text_input",
        "z": "da0c76b0dfff2c24",
        "name": "id",
        "label": "",
        "tooltip": "",
        "group": "9813e1e93f4d47a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "cd1d8fc96ba4dcc7"
            ]
        ]
    },
    {
        "id": "69c8c56afa1d167d",
        "type": "function",
        "z": "da0c76b0dfff2c24",
        "name": "function 2",
        "func": "flow.set(\"name\", msg.payload);\n\nvar name = flow.get(\"name\");\nvar id = flow.get(\"id\");\n\nif (!id || !name) {\n    node.warn(\"ID ou nome ausente\");\n    return null;\n}\n\nmsg.topic = `UPDATE digital_id SET name = '${name}' WHERE id = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "ab08279913fafd71",
                "2d03df04ac35dd46"
            ]
        ]
    },
    {
        "id": "ab08279913fafd71",
        "type": "debug",
        "z": "da0c76b0dfff2c24",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "2d03df04ac35dd46",
        "type": "mysql",
        "z": "da0c76b0dfff2c24",
        "mydb": "3ecbf5061b5e5171",
        "name": "imput name",
        "x": 450,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f63a6fa0f0d03e4a",
        "type": "debug",
        "z": "da0c76b0dfff2c24",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d56ef549cc9d544",
        "type": "debug",
        "z": "da0c76b0dfff2c24",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "8890e4522e6f7670",
        "type": "mqtt out",
        "z": "da0c76b0dfff2c24",
        "name": "",
        "topic": "auth/status",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f8538c6cface9c4",
        "x": 1150,
        "y": 640,
        "wires": []
    }
]